body{
    background-color: rgb(139, 139, 255);
    font: normal 20pt Arial;
    color: white;
}

h1, h3{
    text-align: center;
    color: yellow;
}

h4{
    text-align: center;
}

.conteiner{
    text-align: center;
}

.print{
    display: flex;
    justify-content: center;
}

.memedia{
    display: flex;
}

.tit_memedia, .legenda{
    color: rgb(255, 255, 123);
}